<!DOCTYPE html>
{% load staticfiles %}
{% load ShopSphere_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            ShopSphere - 
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
    </head>
    <body>
        
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ShopSphere</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'ShopSphere:index' %}">Home</a> 
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ShopSphere:recommended' %}">Recommended</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ShopSphere:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Recommended</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ShopSphere:register' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ShopSphere:login' %}">Login</a>
        </li>
        {% endif %}
        
      </ul>
      <form class="d-flex">
        <input class="form-control mx-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
        <div>
            {% block body_block %}
            {% endblock %}

            {% block sidebar_block %}
                {% get_category_list category %}
            {% endblock %}
        </div>
            
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->
                <li><a href="{% url 'ShopSphere:recommended' %}">Recommended Page</a></li>
                <li><a href="{% url 'ShopSphere:logout' %}">Logout</a></li>
                <li><a href="{% url 'ShopSphere:add_category' %}">Add New Category</a></li>
                {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <li><a href="{% url 'ShopSphere:register' %}">Sign Up</a></li>
                <li><a href="{% url 'ShopSphere:login' %}">Login</a></li>
                {% endif %}
                <!-- Outside the conditional statements, ALWAYS show -->
                <li><a href="{% url 'ShopSphere:about' %}">About</a></li>
                <li><a href="{% url 'ShopSphere:index' %}">Index</a></li>
            </ul>
        </div>
    </body>
</html>